<div>
  <div fxLayout='row'>
    <div fxLayout='row' fxFlex="66%" class="venstre-box mat-elevation-z4">
      <div *ngIf="!formVisible" class="bestilling-form">
        <div class="centercontrol">
          <button mat-raised-button color="primary" (click)="leggTil()">Legg til brannmursåpning</button>
        </div>
      </div>
      <div *ngIf="formVisible" class="bestilling-form">
        <form [formGroup]="brannmurForm">
          <div class="centercontrol">
            <mat-radio-group formControlName="operasjon" matTooltip="Angir om brannmurregel skal opprettes eller fjernes.">
              <mat-radio-button value="apne">Åpne</mat-radio-button>
              <mat-radio-button value="lukke">Lukke</mat-radio-button>
            </mat-radio-group>
          </div>
          <h3 class="h3">Fra</h3>
          <mat-form-field class="full-width">
            <input matTooltip="Angi hostnavn / IP-adresse / navn på nett eller brannmurgruppe som trafikken skal sendes fra."
            matInput id="frahost" formControlName="frahost" placeholder="Hostnavn / Gruppe / IP /">
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill" *ngIf="role==='drift'">
            <input matInput matTooltip="Benyttes kun i spesielle tilfeller hvor sourceport må være kjent på forhånd." id="fraport" formControlName="fraport" placeholder="Port(er)" >
          </mat-form-field>
          <h3 class="h3">Til</h3>
          <mat-form-field class="full-width">
            <input matInput matTooltip="Angi hostnavn / IP-adresse / navn på nett eller brannmurgruppe som trafikken skal sendes til." id="tilhost" formControlName="tilhost" placeholder="Hostnavn / Gruppe / IP /">
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput matTooltip="Angi ett eller flere portnummer, eller en portrange. Eksempler: '2468' / '2468, 3579' / '2468, 3579-3599.'" id="tilport" formControlName="tilport" placeholder="Port(er)">
          </mat-form-field>
          <mat-form-field class="full-width">
            <textarea id="beskrivelse" formControlName="beskrivelse" matInput rows="6"
              placeholder="Beskrivelse"></textarea>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-select id="transportprotokoll" formControlName="transportprotokoll" placeholder="Transportprotokoll"
              name="transportprotokoll">
              <mat-option value="tcp">TCP</mat-option>
              <mat-option value="http">HTTP</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill" *ngIf="role==='drift'">
            <textarea id="merknader" formControlName="merknader" matInput rows="6" placeholder="Merknader"></textarea>
          </mat-form-field>
          <div class="centercontrol">
            <button type="button" mat-raised-button color="primary" (click)="onLagre()">Lagre</button>
            <button type="button" mat-raised-button color="primary" (click)="onAvbryt()">Avbryt</button>
          </div>
        </form>
      </div>
    </div>
    <div fxFlex="34%" class="hoyre-box mat-elevation-z4">
      <div *ngIf="brannmurApninger.length == 0">Ingen brannmursåpninger </div>
      <div *ngIf="brannmurApninger.length > 0" style="width: 100%">
       <div style="font-size: 2em" class="brannmurItem" (click)="brannmurClick(i)" *ngFor="let brannmur of brannmurApninger;let i = index">
          <mat-icon *ngIf="brannmur.operasjon == 'apne'">lock_open</mat-icon>
          <mat-icon *ngIf="brannmur.operasjon == 'lukke'">lock</mat-icon>
          {{brannmur.fraHost}} <mat-icon>arrow_forward</mat-icon> {{brannmur.tilHost}}:{{brannmur.tilPort}} 
          <button class="pull-right" type="button" mat-raised-button color="primary" (click)="slett(i)" matTooltip="Fjerner denne brannmursåpningen fra bestillingen.">Fjern</button>
       </div>
      </div>
    </div>
  </div>
</div>