<div id="wrapper"> 
<mat-tab-group id="tab-group">
  <mat-tab label="Generelt">
    <app-generelt></app-generelt>
  </mat-tab>
  <mat-tab label="Lastbalanseringer">
    <app-lastbalansering></app-lastbalansering>
 </mat-tab>
  <mat-tab label="Eksponeringer">
    <app-eksponering></app-eksponering>
  </mat-tab>
  <mat-tab [label]="brannmurlabel">
    <app-brannmur3></app-brannmur3>
  </mat-tab>
</mat-tab-group>
</div>

<div class="centercontrol">
  <button type="button" mat-raised-button color="primary" >Lagre</button>
  <button type="button" mat-raised-button color="primary" >Send bestilling</button>
  <button type="button" mat-raised-button color="primary" >Slett bestilling</button>
</div>
