<div class="floating">
<mat-radio-group name="radioOpt1" [(ngModel)]="_role" (change)="radioChange()">
    <mat-radio-button value="bestiller" checked="true">Bestiller</mat-radio-button>
    <mat-radio-button value="drift">Drift</mat-radio-button>
  </mat-radio-group>
</div>
<mat-tab-group dynamicHeight>
  <mat-tab label="Generelt">
      <app-generelt></app-generelt>
  </mat-tab>
  <mat-tab label="Eksponeringer">
      <app-eksponering></app-eksponering>
  </mat-tab>
  <mat-tab label="Lastbalanseringer">
     <app-lastbalansering></app-lastbalansering>
  </mat-tab>
  <mat-tab label="Brannmursåpninger">
      <app-brannmur></app-brannmur>
  </mat-tab>
</mat-tab-group>