<form [formGroup]="brannmurForm">
  <div fxLayout='row' fxLayoutAlign="center center" fxLayoutGap="8px">

    <div>
      <mat-form-field style="width:100px">
        <mat-select formControlName="operasjon" placeholder="Operasjon" value="apne" name="operasjon">
          <mat-option value="apne">Åpne</mat-option>
          <mat-option value="lukke">Lukke</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex fxLayout='row' fxLayoutAlign="center center" fxLayoutGap="8px"
      style="background:#F8F8F8;border-color: #E8E8E8; border-style:solid;border-width:1px;">
      &nbsp;&nbsp; <h3>Fra:</h3>
      <div fxFlex>

        <mat-form-field style="width:100%">
          <input
            matTooltip="Angi hostnavn / IP-adresse / navn på nett eller brannmurgruppe som trafikken skal sendes fra."
            matInput formControlName="frahost" placeholder="Fra Hostnavn / Gruppe / IP /">
        </mat-form-field>
      </div>

      <div *ngIf="role==='drift'">
        <mat-form-field style="width:100px">
          <input matInput formControlName="fraport" placeholder="Fra Port(er)">
        </mat-form-field>
      </div>
      &nbsp;&nbsp;
    </div>
    <div fxFlex fxLayout='row' fxLayoutAlign="center center" fxLayoutGap="8px"
      style="background:#F8F8F8;border-color: #E8E8E8; border-style:solid;border-width:1px;">
      &nbsp;&nbsp;<h3>Til:</h3>
      <div fxFlex>
        <mat-form-field style="width:100%">
          <input matInput formControlName="tilhost" placeholder="Til hostnavn / Gruppe / IP /">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field style="width:100px">
          <input matInput formControlName="tilport" placeholder="Til port(er)">
        </mat-form-field>
      </div>
      &nbsp;&nbsp;
    </div>

    <div *ngIf="visAlle" fxFlex>
      <mat-form-field style="width:100%">
        <input matInput formControlName="beskrivelse" placeholder="Beskrivelse">
      </mat-form-field>
    </div>

    <div *ngIf="visAlle">
      <mat-form-field style="width:150px">
        <mat-select formControlName="transportprotokoll" placeholder="Transportprotokoll" name="transportprotokoll">
          <mat-option value="tcp">TCP</mat-option>
          <mat-option value="udp">UDP</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="role==='drift'" fxFlex>
      <mat-form-field *ngIf="role==='drift'" style="width:100%">
        <input matInput formControlName="merknader" placeholder="Merknader">
      </mat-form-field>
    </div>
    <div>
      <button type="button" mat-raised-button color="primary" (click)="onLeggtil()">Legg til</button>
      <button type="button" mat-raised-button color="primary" (click)="onAvbryt()">Avbryt</button>
    </div>

  </div>
</form>

<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="operasjon">
      <th mat-header-cell *matHeaderCellDef> Operasjon </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.operasjon}} </td>
    </ng-container>

    <ng-container matColumnDef="fraHost">
      <th mat-header-cell *matHeaderCellDef> Fra host </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.fraHost}} </td>
    </ng-container>

    <ng-container matColumnDef="fraPort">
      <th mat-header-cell *matHeaderCellDef> Fra port </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.fraPort}} </td>
    </ng-container>

    <ng-container matColumnDef="tilHost">
      <th mat-header-cell *matHeaderCellDef> Til host </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.tilHost}} </td>
    </ng-container>

    <ng-container matColumnDef="tilPort">
      <th mat-header-cell *matHeaderCellDef> Til port </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.tilPort}} </td>
    </ng-container>

    <ng-container matColumnDef="beskrivelse">
      <th mat-header-cell *matHeaderCellDef> Beskrivelse </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.beskrivelse}} </td>
    </ng-container>

    <ng-container matColumnDef="transportProtokoll">
      <th mat-header-cell *matHeaderCellDef> Transport protokoll </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.transportProtokoll}} </td>
    </ng-container>

    <ng-container matColumnDef="merknader">
      <th mat-header-cell *matHeaderCellDef> Merknader </th>
      <td mat-cell *matCellDef="let brannmurApning"> {{brannmurApning.merknader}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

