/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.venstre-box, .hoyre-box {
    display: flex;
    justify-content: center;
    margin: 8px;
    padding: 0px;
    border-radius: 8px;
    min-height: 200px;
  }
  
  .centercontrol {
    display: flex;
    justify-content: center;
    margin: 16px;
  }
  
  .h3 {
   margin:0px;
  }

  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .mat-raised-button ~ .mat-raised-button {
    margin-left: 4px;
  }
 
  .bestilling-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
  }

  .brannmurItem {
    border-style: solid;
    width: calc(100% - 72px);
    padding: 16px;
    border-radius: 8px;
    margin: 16px;
    vertical-align: middle; 
  }

  .brannmurItem:hover
  {
    background: lightgray;
  }

  .pull-right {
    float: right;
  }